# dependencies
frontend/.pnp
**/node_modules
frontend.pnp.js
frontend.yarn/install-state.gz

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# vercel
frontend/.vercel

# typescript
*.tsbuildinfo
frontend/next-env.d.ts
firebase/appConfig.json
firebase/backup.json
firebase/downloadDb/appConfig.json
firebase/downloadDb/backup.json
firebase/downloadDb/db/done.csv
firebase/downloadDb/db/done.csv
firebase/downloadDb/db/done.csv
firebase/downloadDb/db/users.csv
firebase/downloadDb/db/questions.csv
firebase/functions/src/files/db/dbSecret.json
*.pem
*.zip
*.csv
**/backup.json